* {
    font-family: "Arvo", sans-serif;
}

body {
    background-color: wheat;
    margin: 0;
}

#container {
    background-color: burlywood;
    
    width: calc(70vw - 48px);
    height: 65vh;
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 16px;

    position: fixed;
    top: 15vh;
    left: 15vw;
}

#projects-container, #tasks-container {
    background-color: blanchedalmond;
    overflow-y: scroll;
}

/* Project Container */

#projects-container-header {
    background-color: rgb(255, 219, 169);
    font-size: larger;

    padding-left: 1em;

    display: flex;
    justify-content: space-between;
}

#projects-container-header-createproject-btn {
    background-color: rgb(101, 101, 255);
    color: white;
    cursor: pointer;

    padding: 1em;

    display: flex;
    align-items: center;
}

.project-list-item {
   background-color: rgb(153, 125, 87);
   color: rgb(255, 200, 123);
   font-weight: bold;
   cursor: pointer;
   
   height: 2em;
   padding: 1em;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.project-list-item:hover {
    color: rgb(153, 125, 87);
    background-color: rgb(255, 200, 123);
}

/* Task Container */
#tasks-container-header {
    background-color: rgb(255, 219, 169);
}
