* {
    font-family: "Arvo", sans-serif;
}

body {
    background-color: wheat;
    margin: 0;
}

#container {
    background-color: burlywood;
    
    width: calc(70vw - 48px);
    height: 65vh;
    padding: 16px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 16px;

    position: fixed;
    top: 15vh;
    left: 15vw;
}

#projects-container, #tasks-container {
    background-color: blanchedalmond;
    overflow-y: scroll;
}

/* Project Container */
#projects-container-header{
    background-color: rgb(255, 219, 169);
    font-size: larger;

    padding-left: 1em;

    display: flex;
    justify-content: space-between;
}

#add-project-form {
    background-color: rgb(255, 219, 169);

    width: calc(100% - 32px);
    height: calc(100% - 32px);
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-head-text {
    color: rgb(126, 90, 40);
    text-align: center;
}

.form-btn{
    font-size: larger;
    color: white;
    
    padding: 1em;
    margin: 0 1em;
    border-radius: 10%;
    border: 0;
}

.form-btn.create {
    background-color: rgb(0, 177, 15);
}
.form-btn.create:hover {
    background-color: rgb(0, 99, 8);
}

.form-btn.cancel {
    background-color: red;
}
.form-btn.cancel:hover {
    background-color: rgb(173, 0, 0);
}

#project-form-name-input {
    padding: 0.6em;
    margin-top: 1em;

    font-size: larger;
}
.gray-input-outline:focus{
    outline: gray solid 4px;
}

.project-form-input-row {
    text-align: center;
}

.project-form-input-row label {
    font-size: 32px;
}

#projects-container-header-createproject-btn {
    background-color: rgb(101, 101, 255);
    color: white;
    cursor: pointer;

    padding: 1em;
    border-radius: 5px;

    display: flex;
    align-items: center;
}
#projects-container-header-createproject-btn:hover {
    background-color: rgb(72, 72, 168);
}

.project-list-item {
    color: rgb(255, 238, 211);
    background-color: rgb(189, 138, 66);
   font-weight: bold;
   cursor: pointer;
   font-size: larger;
   
   height: 2em;
   padding: 1em;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.project-list-item:hover {
    background-color: rgb(167, 124, 64);
    color: rgb(255, 200, 123);
}

.project-list-item-del-btn {
    background-color: red;
    color: white;

    border-radius: 5px;
    padding: 1em;
    
}
.project-list-item-del-btn:hover {
    background-color: rgb(173, 0, 0);
}


/* Task Container */
#tasks-container-header {
    background-color: rgb(255, 219, 169);
    font-size: larger;

    padding-left: 1em;

    display: flex;
    justify-content: space-between;
}

#tasks-container-header-createtask-btn {
    background-color: rgb(0, 177, 15);
    color: white;
    cursor: pointer;

    padding: 1em;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

#tasks-container-header-createtask-btn:hover {
    background-color: rgb(31, 110, 37);
}

.task-list-item {
   color: rgb(255, 238, 211);
   background-color: rgb(236, 161, 55);
   font-weight: bold;
   cursor: pointer;
   font-size: larger;
   
   height: 1em;
   padding: 1em;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.task-list-item:hover {
    color: rgb(255, 205, 135);
} 

.task-list-item-btn-container {

    display: flex;
    align-items: center;
}

.task-list-item-detail-btn {
    background-color: rgb(101, 101, 255);
    color: white;

    margin-right: 16px;
    padding: 0.5em;
    border-radius: 5px;
}
.task-list-item-detail-btn:hover {
    background-color: rgb(72, 72, 168);
}

.task-list-item-delete-btn {
    background-color: red;
    color: white;

    border-radius: 5px;
    padding: 0.5em;
}
.task-list-item-delete-btn:hover {
    background-color: rgb(173, 0, 0);
}

#add-task-form {
    background-color: rgb(255, 219, 169);

    width: calc(100% - 32px);
    min-height: calc(100% - 32px);
    height: fit-content;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-form-input-row label {
    font-size: 20px;
}

.task-form-input-row {
    text-align: center;
}

#task-form-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#task-form-detail-input {
    width: 240px;
    height: 130px;
    resize: none;
}

#task-form-select-input {
    background-color: white;
    border: 0;

    padding: 0.6em;
}

#task-form-name-input {
    padding: 0.7em;
}