* { 
    font-family: sans-serif;
}

body {
    background-color: brown;
    margin: 0;
}

#container-grid {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}


/*Side bar and Navigation*/

#side-bar {
    background-color: aqua;
    grid-row: 1 / 3;
    min-width: 220px;


    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 48px;
}

#logo {
    margin: auto;
    font-size: 2em;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}

.nav-btn {
    background-color: transparent;
    border: 0;
    font-size: 1.5em;
}

.nav-btn:hover {
    background-color: gray
}


#content-header {
    background-color: blueviolet;
    padding: 0 16px;
    font-size: 3em;

    display: grid;
    align-items: center;
}

#content {
    background-color: cadetblue;
}

#popUpModal {
    width: 30vw;
    height: 70vh;
    background-color: whitesmoke;
    position: relative;
    top: 15vh;
    margin: auto;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}

#darkenedBackground {
    background-color: rgba(100, 100, 100, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}


/* Create Project Form*/

#create-project-form {
    width: 90%;
    height: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 2em;
    font-weight: bold;

    display: grid;
    grid-template-rows: 6fr 1fr 1fr;
    gap: 16px;
}

.create-project-form-btn {
    padding: 16px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(192, 192, 192);

}


.create-project-form-btn:hover {
    background-color: cornflowerblue;
    color: white;
}

#create-form-cancel-btn:hover {
    background-color: rgb(255, 47, 47);
}

#project-name-input {
    padding: 16px;
    margin-top: 32px;
    width: 60%;
    font-size: large;
}


/* Projects Cards and container */

#projects-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 16px;
}


.project-card {
    padding: 16px;
    background-color: white;
    width: 30%;
    height: 230px;
    min-width: 250px;

    position: relative;
    border-radius: 10px;
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.card-btn {
    background-color: rgb(192, 192, 192);
    width: 4em;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.project-name {
    font-size: 2em;
    text-align: center;
    width: 100%;


    position: absolute;
    top: 0;
}
.project-nearest-task::before {
    content: "Current Task: ";
    font-weight: bold;
    color: chocolate;
}

.project-nearest-task {
    width: fit-content;
    font-size: 20px;
    color: brown;

    position: absolute;
    top: 35%;
}

.project-details-btn {
    position: absolute;
    bottom: 10%;
    right: 27%;
}

.project-details-btn:hover {
    background-color: cornflowerblue;
    color: white;
}

.del-project-btn {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.del-project-btn:hover {
    background-color: rgb(255, 47, 47);
    color: white;
}


.no-projects-text {
    font-size: 36px;
}


/* Create task from and inputs*/

#create-task-form {
    padding: 16px;
    padding-top: 64px;
    text-align: center;
    height: 85%;
    font-size: large;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#create-task-btn-container {
    display: flex;
    gap: 16px;

    position: absolute;
    bottom: 5%;
    right: 10%;
}

#task-input-content {
    max-width: 80%;
    min-width: 70%;
    max-height: 180px;
    min-height: 50px;
    height: 100px;
}

#task-input-title {
    padding: 8px;
    width: 50%;
}

#create-task-form-btn:hover {
    background-color: cornflowerblue;
    color: white;
}

#create-task-cancel-btn:hover {
    background-color: rgb(255, 47, 47);
    color: white;
}

#project-select-input {
    width: 50%;
    margin-top: 8px;
    padding: 8px;
    background-color: white;
    border: 2px solid gray;
}

#project-select-input:hover {
    background-color: whitesmoke;
}

.task-create-btns {
    font-size: large;
    width: 6em;
    padding: 16px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(192, 192, 192);
}


/* Task Cards and container */

#tasks-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 16px;
}

.task-card {
    padding: 16px;
    background-color: white;
    width: 30%;
    min-height: 230px;
    min-width: 250px;

    position: relative;
    border-radius: 10px;
}

.task-card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.task-card-title {
    font-size: 24px;
    font-weight: bold;
}


.del-task-btn-card {
    background-color: rgb(192, 192, 192);
    width: 4em;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    

    position: absolute;
    bottom: 5%;
    right: 5%;
}
.del-task-btn-card:hover {
    background-color: rgb(255, 47, 47);
    color: white;
}

.toggle-status-btn {
    background-color: rgb(255, 47, 47);
    color: white;
    width: 6em;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    

    position: absolute;
    bottom: 5%;
    right: 25%;
}
.task-done {
    background-color: rgb(0, 211, 0);
    color: white;
}


.task-card-date {
    background-color: rgb(192, 192, 192);
    width: 6em;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    

    position: absolute;
    bottom: 0;
    left: 5%;
}